<div class="signup_form_div">
<h1>Create an account!</h1>
	<%= form_for @team, :url => {:controller => 'teams', :action => 'create'}  do |f| %>
	  <p class="text_fields">
	    <%= f.text_field :name, placeholder: ' Name' %>
	    <%= f.password_field :password, placeholder: 'Password' %>
	    <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %>
	  </p>
	  <p id="signup_submit">
	    <%= f.submit :Signup, class: 'button'%>
	  </p>
	<% end %>
</div>