<h2>Welcome to <%= @team.name %>'s Retro Account Page</h2>
<% if @team.retros.count != 0 %> 
	<h3>Select a Current Retro</h3>
		<%= form_tag team_path(current_team), method: :get do %>
    <%= select_tag "Your Retros", options_from_collection_for_select(current_team.retros, "id", "name"), name: "retro_select"  %>
    <%= submit_tag "Select Retro" %>
  <% end %>
<% end %> 


<h3>Create a New Retro</h3>
<%= button_to "Add Retro Board", new_team_retro_path(@team), method: :get %> 