<% @quad.each do |n| %> 
		<%= if !n.conclussion.nil? && !n.conclussion.empty? then "🔔" end %> 
		<% if n.complete_status == "1" %>
			✅
		<% end %> 
		<%= n.content %>
		<% if !n.upvote.nil? %> 
			+<%= n.upvote %>
		<% end %>
		<div class="update-2">
			<%= link_to "Details", team_retro_note_path(@team, @retro, n.id), :class => "btn btn-default btn-sm" %> 
			<%= link_to "Edit", edit_team_retro_note_path(current_team, @retro, n.id), :class => "btn btn-default btn-sm" %>
			<%= link_to "Delete", team_retro_note_path(current_team, @retro, n.id), method: :delete, onclick: "return confirm('Are you sure?')", :class => "btn btn-default btn-sm" %>
	</div>
<% end %> 