<h1><%= @title %></h1>

<%= form_for @note, action: @action, url: "/teams/#{@team.id}/retros/#{@retro.id}/notes" do |f| %>
	<fieldset>
  <%= f.label :content %> <br>
	<%= f.text_area :content, size: "60x5", placeholder: "Note content." %>
	<br>
	<%= f.label :category %> 
	<%= f.radio_button "cat_id", "1", required: 'required' %>
	<%= f.label :cateogory_1, "Room for Improvement" %>
	<%= f.radio_button "cat_id", "2", required: 'required' %>
	<%= f.label :cateogory_2, "Less of" %>
	<%= f.radio_button "cat_id", "3", required: 'required' %>
	<%= f.label :cateogory_3, "More of" %>
	<%= f.radio_button "cat_id", "4", required: 'required' %>
	<%= f.label :cateogory_4, "Positive Experiences" %>
	<%= f.hidden_field :retro_id, value: @retro.id %>

  <%= @note.persisted? ?  (f.submit value: "Update note", id: 'special-button') : (f.submit value: "Add note", id: 'special-button') %>
  </fieldset>
<% end %>