<% @quad.each do |n| %> 
	<%= link_to team_retro_note_path(@team, @retro, @notes.find(params[:id])) do %> 
			<%= if !n.conclussion.nil? && !n.conclussion.empty? then "🔔" end %> 
			<% if n.complete_status == "1" %>
				<div class="complete"><%= n.content %></div>
			<% else %> 
				<div class="incomplete"><%= n.content %></div>
			<% end %> 
			<% if !n.upvote.nil? %> 
				+<div class="upvote"><%= n.upvote %></div>
			<% end %> 
			<div class="update-2"><%= link_to "Edit", edit_team_retro_note_path(current_team, @retro, Note.find(params[:id])) %>
			<%= link_to "Delete", team_retro_note_path(current_team, @retro, Note.find(params[:id])), method: :delete, onclick: "return confirm('Are you sure?')" %>
			</div>
	<% end %> 
<% end %> 