<h1><%= @title %></h1>
<div class="form-group">
  <div class="center-div">
		<%= form_for @retro, url: { action: @action }, :html => { :multipart => true } do |f| %>
	  	<%= f.label "Name" %>:
	  	<%= f.text_field :name, :require => true %>
	  	<br><br>

	  	<% if !@retro.id.nil? %> 
	  		Current Retro Notes: <%= link_to @retro.attachment_identifier, @retro.attachment.url, :target => '_blank' %> 
	  	<% end %>
	  	<br><br>

	  	<%= f.label "Upload Notes" %>
	  	<%= f.file_field :attachment %> 
	  	<%= f.hidden_field :team_id, value: current_team.id %>
	  	<br><br>
	  
	  	<%= @retro.persisted? ?  (f.submit value: "Update Retro", class: 'btn btn-default') : (f.submit value: "Add Retro", class: 'btn btn-default') %>
	<% end %>
	<br><br>

	</div>
</div>

<%= if !@retro.id.nil? then link_to "Delete this Retro", team_retro_path(current_team, @retro), method: :delete, onclick: "return confirm('Are you sure?')", class: 'btn btn-danger btn-lg' end %>