<!DOCTYPE html>
<html>
<head>
  <title>Retrospective</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <header>
    <%= link_to root_url do %>
    <div class="logo">
      <h6>R</h6>
    </div>
    <% end %> 

    <nav>
	    <div id="team-nav">
    		<% if (!current_team.nil?) && (current_team.retros.count) != 0 && (!@retro.nil?) && (!@retro.name.nil?) %>
    			<span class="update"><%= link_to "Update Retro: #{@retro.name}", edit_team_retro_path(current_team, @retro.id)  %></span>
	  			<span class="update"><%= link_to "New Note", new_team_retro_note_path(current_team, @retro.id)  %></span>
	  			<% if !@retro.attachment.nil? %> 
	  				<span class="update"><%= link_to "Download Notes", @retro.attachment_url %></span> 
	  			<% end %> 
	  		<% end %>
			  <% if current_team %>
			    <%= link_to "Retros", team_path(current_team) %>
			    <%= link_to "Log Out", log_out_path %>
			  <% else %>
			    <%= link_to "Sign Up", sign_up_path %>
			    <%= link_to "Log In", log_in_path %>
			  <% end %>
			</div>
    </nav>
  </header>

	<%= yield %>

</body>
</html>
